.navigation {
    margin: 26px 0;
    display: flex;
    background-color:gray;

    a{
        margin: 10px;
        padding: 10px;
        position: relative;
        text-decoration: none;
    }

    .nav-active{
        &::after{
            content: " ";
            width: 85%;
            height: 5px;
            background-color: green;
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translate(-50%);
        }
    }
}